.horizontal-gallery {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    margin: 0 0 2rem 0;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color, #ccc) transparent;
  }

  .horizontal-gallery::-webkit-scrollbar {
    height: 8px;
  }
  
  .horizontal-gallery::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color, #ccc);
    border-radius: 4px;
  }
  
  .horizontal-gallery::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .gallery-image {
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    background-clip: content-box; /* Asegura que el padding no pinte fondo */
    padding-bottom: 1.5rem;
  }
  
  
  
  .fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 1rem;
    margin: 3rem auto;
  }
  
  .fullscreen-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }
  
  .fullscreen-close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
    color: white;
    cursor: pointer;
    z-index: 1001;
  }
  
  .fullscreen-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  
  .fullscreen-prev {
    left: 20px;
  }
  
  .fullscreen-next {
    right: 20px;
  }

  @media screen and (min-width: 992px) {

    .gallery-image:hover {
      transform: scale(1.05);
    }
  }