.horizontal-gallery {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color, #ccc) transparent;
    scroll-snap-type: x mandatory;
    margin-left: 0.5rem;
    padding-left: 1rem;
    
    
  }

  .horizontal-gallery::-webkit-scrollbar {
    height: 8px;
  }
  
  .horizontal-gallery::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color, #ccc);
    border-radius: 4px;
  }
  
  .horizontal-gallery::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .gallery-image {
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    background-clip: content-box; /* Asegura que el padding no pinte fondo */
    scroll-snap-align: none start;
    margin: 0 1rem 0 0;
    width: 90%;
  }
  
  .fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 1rem;
    margin: 3rem auto;
  }
  
  .fullscreen-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }
  
  .fullscreen-close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
    color: white;
    cursor: pointer;
    z-index: 1001;
  }
  
  .fullscreen-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  
  .fullscreen-prev {
    left: 20px;
  }
  
  .fullscreen-next {
    right: 20px;
  }

  @media screen and (min-width: 992px) {

    .horizontal-gallery {
      margin-left: 1rem;
      padding-left: 0;
      
    }

    .gallery-image {
      margin: 0 0.5rem 0 0.5rem; 
      width: 30%; 
    }

    .gallery-image:hover {
      transform: scale(1.05);
    }
    
  }