#contact {
    margin: 3rem 0 0 0;
}

#contact a{
    margin: 0 0 0 0.3rem;
    text-decoration: underline;
    color: var(--primary-color);
}

#contact form {
    background-color: var(--background-secondary-color);
    padding: 1rem;
    border-radius: 8px;
}

#contact .btn {
    margin-top: 1rem;
}

#contact #contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 2rem;
        
}

.fluid-image-contact {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.col-style-contact {
    padding: 1rem 1.5rem;
}


@media screen and (min-width: 992px) {
    #contact #contact-text {
        margin-top: 1rem;
    }

    .fluid-image-contact {
        width: 50%;
    }
  }