#contact {
    margin: 3rem 0 0 0;
}

#contact form {
    background-color: var(--background-secondary-color);
    padding: 1rem;
    border-radius: 8px;
}

#contact .btn {
    margin-top: 1rem;
}

#contact #contact-text {
    margin-top: 2rem;
}


@media screen and (min-width: 992px) {
    #contact #contact-text {
        margin-top: 1rem;
        text-align: justify;
        padding: 1rem;
    }
  }