.features {
    display: flex;
    flex-direction: column;
}

.features-content {
    display: flex;
    flex-direction: column;
}

.image-features {
    margin: 0 auto;
}

/* Media query para desktop (pantallas desde 992px) */
@media screen and (min-width: 992px) {
    .features {
        flex-direction: row;   
    }

    .features-content{
        justify-content: center;
        padding: 0 4rem 0 4rem;
    }

    .features-content p{
        color: var(--text-primary);
        font-size: 1.1em;
        
    }

}
