.features-content h4 {
    margin: 2rem 0 0.5rem 0;
}

.features-content p {
    padding: 0;
}

.image-features {
    margin: 1rem 0;
}

.image-features img {
    border-radius: 10px;
}

/* Media query para desktop (pantallas desde 992px) */
@media screen and (min-width: 992px) {
    
    .features-content p{
        color: var(--text-primary);
        font-size: 1.1em;
        
    }

    .image-features {
        display: flex;
        justify-content: flex-end;
    }
    

}
