.features {
    /* background-color: var(--background-secondary-color); */
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
}

.features-image img{
    border-radius: 8px;

}

/* Media query para desktop (pantallas desde 992px) */
@media screen and (min-width: 992px) {
    .features {
        flex-direction: row;   
    }

    .features-content{
        padding: 0 8rem 0 0;
        
    }

    .features-content h2{
        margin-bottom: 2rem;
        
    }
    .features-content p{
        color: var(--text-primary);
        font-size: 1.1em;
        
    }

    .features-image{
        width: 70%;
    }
    
}