.videoSection ul li svg {
  font-size: 1.3em;
  margin-right: 0.3rem;
}

.videoSection ul li {
  color: var(--secondary-color);
}

@media screen and (min-width: 992px) {

  .col-style-videoSection{
    padding: 0 4rem 0 1rem;
  }
}