#room-features {
  margin: 1rem 0;
}

#room-features-header{
  margin:  2rem 0 1rem 0;
}

#room-features .card {
  border: none;
  background-color: var(--background-secondary-color);
  padding: 0 1rem;
}

#room-features .card svg,
#room-features .card .card-title  {
    color: var(--primary-color);  
}

#room-features .card .card-subtitle {
  color: var(--accent-color);
}

#room-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  height: 100%;
}

@media screen and (min-width: 992px) {

  .col-style-videoSection{
    padding: 0 4rem 0 1rem;
  }

  #room-link{
    justify-content: center;
    font-size: 1.2em;
  }

  #room-link h4{
    font-size: 1.5em;
  }

  #room-link a{
    font-size: 1.1em;
  }

}
