header{
    background-color: var(--primary-color);
    color: var(--text-secondary);
    font-size: 0.8em;
    padding: 1rem 0;
}

header a {
    color: var(--text-secondary);
}

header .container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contacto svg, .ubicacion svg {
    margin-right: 0.2rem;
    font-size: 1.2em;
}


/* Media query para desktop (pantallas desde 992px) */
@media screen and (min-width: 992px) {

    header{
        padding: 1rem 0 0 0;
    }

    header .container{
        flex-direction: row;
        flex-wrap: wrap;  
    }

    .ubicacion {    
        margin-left: 2rem;
    }

    .contacto svg, .ubicacion svg {
        margin-right: 0.4rem;
        font-size: 1.5em;
    }
}