.reserveLink {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: underline;
}

.reserveLink svg{
    font-size: 1.3em;
}
    
.reserveLink:hover svg {
    transform: translateX(5px);
}