#box-features {
    text-align: center;
}

#box-features-header{
    margin: 2rem 0;
}

.box-features-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-features-link a{
    margin: 0.5rem 0;
}

.background-gray {
    background-color: var(--background-secondary-color);
}

#gallery-show-btn {
    display: inline-block;
}

#gallery-show-btn .btn {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

#box-features .card {
    border: none;
    background-color: var(--background-secondary-color);
    padding: 1rem;
}

#box-features .card svg,
#box-features .card .card-title  {
    color: var(--primary-color);
    
}

#box-features .card .card-subtitle {
    color: var(--accent-color);

}

#show-title-gallery {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2rem 0 1rem 0;
}

#show-title-gallery h4 {
    margin: 0;
}

#show-title-gallery svg {
    font-size: 1.5em;
    margin-right: 0.5rem;
}


.image-gallery {
    margin: 1rem 0 0 0;
}

.image-gallery-thumbnail img {
    height: 65px;
    object-fit: cover;
}

.fullscreen .image-gallery-description {
    font-size: 3em;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    width: 100%;
}

#boxes-video h5 {
    font-size: 1em;
    padding-top: 0.2rem;
    color: var(--accent-color);
}

#boxes-video h2 {
    text-align: left;
}

#boxes-video {
    text-align: justify;
}


@media screen and (min-width: 992px) {

    #box-features-header{
        margin: 4rem 0;
    }

    .box-features-link{
        flex-direction: row;
        justify-content: center;
    }
    
    .box-features-link a{
        margin: 1rem 1rem;
        font-size: 1.2em;
    }   

    #show-title-gallery {
        flex-direction: row;
        align-items: center;
        margin: 1rem 0 1rem 0;
    }
    
    .gallery {
        max-width: 50%;
    }

    .image-gallery-thumbnail img {
        height: 80px;
    }

    #boxes-video h5 {
        font-size: 1.2em;
    }

    #boxes-video p {
        width: 50%;
    }

    #boxes-video .player-wrapper {
        margin-top: 1rem;
    }

    #gallery-show-btn {
        display: flex;
        margin-top: 0.5rem;
    }


}