.background-row {
  background-color: #edffff;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 10px;
}

.values-about h5 {
  font-size: 1.8em;
  margin: 0.5rem 0 2rem 0;
}

.values-about svg {
  font-size: 3.5em;
  margin: 0.5rem 0;

}

.col-style-about {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#aboutUs a svg {
  margin-right: 0.3rem;
  font-size: 1.3em;
}

#aboutUs a {
  color: var(--text-primary);
  text-decoration: underline;
  margin: 0 0.3rem 1rem 0;
}

#aboutUs a:hover {
  color: var(--accent-color);
}


@media screen and (min-width: 992px) {

  .background-row {
    padding: 1rem 0;
    
  }

 .values-about {
  padding: 2rem 3rem 2rem 1rem;
 }
  .value-title {
    text-align: center;
  }

  .value-title svg {
    text-align: center;
  }

  .values-about svg {
    font-size: 5em;
  }

  .values-about p {
    font-size: 1.5em;
  }

  .col-style-about {
    padding: 0rem 4rem 0 1rem;
    justify-content: center;
  }

  #aboutUs a svg {
    font-size: 1.5em;
  }

  #aboutUs a {
    margin: 1rem 0.3rem 1rem 0;
  }
}