.values-about {
  background-color: var(--background-tertiary-color);
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.values-about h5 {
  font-size: 1.8em;
  margin-top: 1rem;
}

.values-about svg {
  font-size: 3.5em;
}

.col-style-about {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#aboutUs a svg {
  margin-right: 0.3rem;
  font-size: 1.3em;
}

#aboutUs a {
  color: var(--text-primary);
  text-decoration: underline;
  margin: 0 0.3rem 1rem 0;
}

#aboutUs a:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 992px) {

  .values-about {
    padding: 2rem 1rem;
    margin-top: 5rem;
  }

  .col-style-about {
    padding: 0rem 4rem 0 1rem;
    justify-content: center;
  }

  #aboutUs a svg {
    font-size: 1.5em;
  }

  #aboutUs a {
    margin: 1rem 0.3rem 1rem 0;
  }
}