/* .container {
  padding: 1rem 1rem;
} */

.navbar {
  background-color: var(--background-secondary-color);
}

.navbar .menu-nav a {
  margin: 0 0 1rem 0
}

.navbar .btn {
  background-color: var(--primary-color);
  border: none;
  margin: 0 0 0.5rem 0;
}

.navbar a{
  color: var(--text-primary);
}

.navbar .btn:hover {
  background-color: #fff;
  color: var(--text-primary);
  border: 0.2px solid var(--primary-color);
}

.navbar svg{
  font-size: 1.2em;
  margin-right: 0.5rem;
}

.navbar .navbar-brand {
  padding-right: 1rem;
}

@media screen and (min-width: 992px) {
  .navbar .menu-nav a {
    margin: 0 1rem 0 0
  }

  .navbar .btn {
    margin: 0 1rem 0 0;
  }

}
