/* .container {
  padding: 1rem 1rem;
} */

.navbar {
  background-color: var(--background-secondary-color);
}

.navbar .menu-nav a {
  margin: 0 0 1rem 0
}

.navbar a{
  color: var(--text-primary);
}

.navbar .navbar-brand {
  padding-right: 1rem;
}

@media screen and (min-width: 992px) {
  .navbar .menu-nav a {
    margin: 0 1rem 0 0
  }
}
