#background-admin {
    background-color:#fff;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 8px;
    padding: 1rem 0.5rem;
    margin: 1rem 0;
  }

#table-title{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#professionals-table {
    max-height: 80vh;
    overflow-y: auto;
}

#professionals-table thead {
    position: sticky;
    top: 0;
}

#professionals-table svg {
    font-size: 1.3em;
    margin-right: 0.4rem;
}

#professionals-table th {
    background-color: var(--primary-color);
    color: var(--text-secondary);
    padding: 0 2rem;
}

#professionals-table td {
    color: #717171;
    padding: 1rem 2rem;
}

#actions {
    display: flex;
}

.custom-cell-content {
    max-height: 150px;
    overflow-y: auto;
    width: 70vw;
}

#professionals-table .responsive-image {
    width: 100px;
    height: auto;
    border-radius: 8px; 
  }
  



@media screen and (min-width: 992px) {

    #background-admin {
        padding: 1rem 1rem;
      }

    #table-title{
        flex-direction: row;
        justify-content: space-between;
    }

    #professionals-table {
        max-height: 85vh;
    }

    #professionals-table svg {
        font-size: 1.3em;
        margin-right: 0.8rem;
    }

    #professionals-table th {
        font-size: 1.1em;
    }


    .custom-cell-content {
        max-height: 400px;
        overflow-y: auto;
        width: 40vw;
    }


}