.scroll-container-professionals {
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    margin: 4rem 0;
    border-radius: 8px;
  }
  
  .scroll-container-professionals .row {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .scroll-container-professionals .card {
    height: 100%;
    background-color: var(--primary-color);
    color: var(--text-secondary);
    border: none;
  }
  
  .scroll-container-professionals .card-body {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
    display: flex;
    flex-direction: column;
    padding: 2rem;
  
  }
  
  .scroll-container-professionals .card-body {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
    display: flex;
    flex-direction: column;
    padding: 2rem;
  
  }

  .scroll-container-professionals .card-footer .card-link {
    text-decoration: none;
    color: var(--text-secondary);
  }

  .card .card-subtitle{
    color: var(--background-primary-color);
  }



