.scroll-container-professionals {
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    margin: 4rem 0;
    border-radius: 8px;
  }
  
  .scroll-container-professionals .row {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .scroll-container-professionals .card {
    height: 100%;
    background-color: var(--primary-color);
    color: var(--text-secondary);
    border: none;
  }
  
  .scroll-container-professionals .card-body {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
    display: flex;
    flex-direction: column;
    padding: 2rem;
  
  }

  .scroll-container-professionals .card-footer .card-link {
    text-decoration: none;
    color: var(--text-secondary);
  }

  .card .card-subtitle{
    color: var(--background-primary-color);
  }

  .circular-img {
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 55%);
  mask-image: linear-gradient(to top, transparent 5%, black 55%);
    /* width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 1rem auto; */
  }

  /* Media query para desktop (pantallas desde 992px) */
@media screen and (min-width: 992px) {
 
    /* WebKit browsers (Chrome, Safari) */
  .scroll-container-professionals::-webkit-scrollbar {
    height: 12px; 
  }

  .scroll-container-professionals::-webkit-scrollbar-track {
    background: var(--background-secondary-color); 
    border-radius: 8px;
  }

  .scroll-container-professionals::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); 
    border-radius: 8px;
    border: 3px solid var(--background-secondary-color);
  }
  
}



