.scroll-container-professionals {
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    margin:  1rem 0 4rem 0;
    border-radius: 8px;
  }
  
  .scroll-container-professionals .row {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .scroll-container-professionals .card {
    height: 80vh;
    background-color: var(--primary-color);
    color: var(--text-secondary);
    border: none;
  }

  .scroll-container-professionals .card .card-img-top{
    height: 100%;
    object-fit: cover;
  }

  /* .text-multiline-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
  } */
  
  .scroll-container-professionals .card-body {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem 4rem 2rem;
  }

  .scroll-container-professionals .card-footer .card-link {
    text-decoration: none;
    color: var(--text-secondary);
  }

  .scroll-container-professionals .card .card-subtitle{
    color: var(--background-primary-color);
  }

  .scroll-container-professionals .card-img-mask {
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 55%);
    mask-image: linear-gradient(to top, transparent 5%, black 55%);
  }

  /* Media query para desktop (pantallas desde 992px) */
@media screen and (min-width: 992px) {
 
    /* WebKit browsers (Chrome, Safari) */
  .scroll-container-professionals::-webkit-scrollbar {
    height: 12px; 
  }

  .scroll-container-professionals::-webkit-scrollbar-track {
    background: var(--background-secondary-color); 
    border-radius: 8px;
  }

  .scroll-container-professionals::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); 
    border-radius: 8px;
    border: 3px solid var(--background-secondary-color);
  }

  .scroll-container-professionals .card-body {
    padding: 0.5rem 2rem 1rem 2rem;
  }
  
}



