.conditions{
    padding-top: 4rem;
}

.conditions h1{
    text-align: center;
    margin-bottom: 3rem;
}

.conditions section {
    margin-bottom: 4rem;
}

.conditions article {
    margin-bottom: 2.5rem;
}

.conditions article {
    margin-bottom: 2.5rem;
}

.conditions article hr {
    margin: 0.5rem 0 1rem 0
}

.conditions section h2{
    text-align: center;
}

.conditions section a{
    color: var(--accent-color);
}

@media screen and (min-width: 600px) {

    .conditions {
        margin: 0 auto;
        width: 80%;
    }
}

@media screen and (min-width: 992px) {

    .conditions {
        margin: 0 auto;
        width: 70%;
    }
}