@import "./colors.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--background-primary-color);
  color: var(--text-primary);
}

li {
  list-style: none;
}