@import "./colors.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--background-primary-color);
  color: var(--text-primary);
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}


.backgroundSection {
  background-color:#fff;
  border-radius: 8px;
  padding: 2rem 1.5rem;
  margin: 1rem 0 2rem 0;
}

.section-titles {
  margin: 0 0 0.7rem 0;
}

.fluid-image img{
  border-radius: 8px;

}

/* React player*/
.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  margin-top: 1rem;
  /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.react-player__preview {
  border-radius: 8px;
}


@media screen and (min-width: 992px) {

  .fluid-image{
    width: 100%;
  }
   
  /*React player*/
  .player-wrapper {
    margin-top: 0;
  }

  .backgroundSection {
    padding: 2rem ;
  }
}