@import "./colors.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--background-primary-color);
  color: var(--text-primary);
}

/* h2 {
  margin-bottom: 1.5rem;
} */

li {
  list-style: none;
}


.backgroundSection {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 2rem;
  margin: 1rem 0;
}

/* React player*/
.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  margin-top: 1rem;
  /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.react-player__preview {
  border-radius: 8px;
}

@media screen and (min-width: 992px) {
  /*React player*/
  .player-wrapper {
    margin-top: 0;
  }
}