/* .container {
  padding: 1rem 1rem;
} */

.navbar {
  background-color: var(--background-secondary-color);
}

.navbar a {
  color: var(--text-primary);
  
}

.navbar .navbar-brand {
  padding-right: 1rem;
}
