.professionals-modal .modal-body {
    text-align: center;
}

.professionals-modal .modal-body img {
    width: 60%;
    text-align: center;
    border-radius: 8px;
}

.professionals-modal .modal-body h2 {
    padding: 1rem 0 0 0;
}

.professionals-modal .modal-body p {
    text-align: justify;
    padding: 0 2rem;
}

/* Media query para desktop (pantallas desde 992px) */
@media screen and (min-width: 992px) {

    .professionals-modal .modal-body img {
        width: 40%;
    }
}