.selected-box {
    text-align: center;
    transition: all 0.3s ease; /* Animación suave */
    background-color: var( --primary-color);
    border-radius: 10px;
    color: var(--text-secondary);
  } 

#wrapper-gallery-boxes {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;

}

#wrapper-gallery-boxes img {
    height: 250px;
    margin: 0 0 0.5rem 0;
    scroll-snap-align: none start;
    scroll-margin: 0 0 0 0px;
    border-radius: 10px;
}

.boxes-content img:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    box-shadow: 8px 8px 10px gray;
}


/* WebKit browsers (Chrome, Safari) */
#wrapper-gallery-boxes::-webkit-scrollbar {
    height: 8px;
}

#wrapper-gallery-boxes::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
}

#wrapper-gallery-boxes::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 8px;
    border: 3px solid var(--background-secondary-color);
}


#calendar {
    margin: 1.5rem 0 0 0;
}

#calendar h2 {
    margin: 1rem 0;
}

#calendar #calendar-options {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

#calendar #navigation-calendar {
    display: flex;
    margin: 1rem 0 2rem 0;
    align-items: center;
}

#calendar #navigation-calendar h5 {
    margin: 0 1rem 0 1rem;
}

#calendar #navigation-calendar svg {
    font-size: 1.2em;
}

#calendar #navigation-calendar .navigation-button {
    color: var(--primary-color);
    background-color: var(--background-primary-color);
    border: none;
    padding: 0.5rem;
}

.hover-td:hover {
    background-color: var(--primary-color);
    color: var(--text-secondary);
    cursor: pointer;
}

td.reserved {
    background-color: var(--background-tertiary-color);
    color: var(--text-primary);
    font-weight: bold;
    /* pointer-events: none; */
    opacity: 0.85;

}

.bold-td {
    font-weight: 700;
}

#calendar #calendar-footer {
    margin-top: 1rem;
    text-align: right;

}

#calendar #calendar-footer .btn {
    width: 100%;

}

#historyList {
    margin: 2rem 0;
}

#historyList ul{
    padding: 0 0.5rem;
    max-height: 300px;
  overflow-y: auto;
  padding-right: 10px; /* Para que no corte texto con el scroll */
}

#historyList li{
   margin: 1rem 0;
}

@media screen and (min-width: 992px) {
    #calendar #calendar-footer .btn {
        width: 10%;

    }

    #calendar #calendar-options {
        margin: 2rem 0 2rem 0;
    }

    .radio-group {
        display: flex;
        gap: 2rem;
    }


    #wrapper-gallery-boxes {
        width: 65%;

    }

    #wrapper-gallery-boxes img {
        height: 300px;

    }

    /* WebKit browsers (Chrome, Safari) */
    #wrapper-gallery-boxes::-webkit-scrollbar {
        height: 12px;
    }


}