#reserve-table h2{
    margin-bottom: 1rem;
}

.hover-td:hover {
    background-color: var(--primary-color);
    color: var(--text-secondary);
}

.bold-td{
    font-weight: 700;
}

#reserve-table #reserve-footer{
    text-align: right;
    
}

