#calendar h2{
    margin: 1rem 0;
}

#calendar #calendar-options{
    display: flex;
    flex-direction: column;
    margin: 2rem 0 1rem 0;
}

#calendar #navigation-calendar{
    display: flex;
    margin: 1rem 0 2rem 0;
    align-items: center;
}

#calendar #navigation-calendar h5{
    margin: 0 1rem 0 1rem;
}

#calendar #navigation-calendar svg{
    font-size: 1.2em;
}

#calendar #navigation-calendar .navigation-button{
    color: var(--primary-color);
    border: none;
    padding: 0.5rem;
}

.hover-td:hover {
    background-color: var(--primary-color);
    color: var(--text-secondary);
}

.bold-td{
    font-weight: 700;
}

#calendar #calendar-footer{
    margin-top: 1rem;
    text-align: right;
    
}

#calendar #calendar-footer .btn{
    width: 100%;
    
}

@media screen and (min-width: 992px) {
    #calendar #calendar-footer .btn{
        width: 10%;
        
    }
    .radio-group {
        display: flex;
        gap: 2rem; /* Espaciado entre los elementos */
      }

    

}